<h1>Broadly Customer CSV Uploader</h1>
{{id}}

<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">CSV Formatted Customer Data</label>
    <textarea id="csvCustomerData" name="csvCustomerData" class="form-control" rows="3" placeholder="Copy and paste your customer data here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>